<input type="text" (keyup)="onNameKeyUp($event)">
<button (click)="getProfile()" >Get Profile (get)</button>



<h1>{{title}}</h1>
<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
    <input type="text" ngModel name="email" placeholder="Enter Email">
 
<br><br>
<input type="text" ngModel name="name" placeholder="Enter Name">

<br><br>

<input type="password" ngModel name="password" placeholder="Enter Password">
<br><br>

<button>Add This User In Db Json (post)</button>
</form>




<!-- <br>
<div *ngIf="found">
    <span>{{name}}'s age is {{age}}</span>

</div> --> 

<!-- <h1>{{title}}</h1>

<ul>
    <li *ngFor="let user of users">
        {{user.name}} {{user.id}}

    </li>
</ul>





<app-footer></app-footer>
<app-header></app-header> -->


